html {
  font-family: 'Open Sans', sans-serif;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.menu {
  padding-top: 30px;
}

.menu__item {
  display: inline-block;
  margin: 0 15px;
}

.menu__link {
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
}

#main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#apresentacao {
  min-height: 880px;
  background: url('../imagens/background-apresentacao.png') center 0;
}
